:root{
    --color1: #201F1F;
}
.navbar-dark{
    background: orange;
}

body{
    background-color: var(--color1);
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 100px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}
#welcomeUserHeader{
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-size: x-small;
    font-style: italic;
}
#welcomeMsg{
    display: inline;
    color: rgb(201, 201, 201);
}
nav{
    margin-bottom: 10px;
}

.navbar-toggler{
    color: black;
}

nav  .navbar-toggler{
    color: black;
}

.navbar-dark .navbar-toggler{
    color: black;
}

.nav-item{
    margin-right: 10px;
    width: max-content;

}
ul .nav-item a{
    text-decoration: none;
    color:  black;
}

.navbar-nav{
    gap: 60px;
}
svg{
    width: 50px;
    height: 50px;
}

.cards  {
    display: flex;
    flex-direction: column;
}

.topo{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nome-servico{
    color: orange;
}
.nome-oferecedor{
    text-decoration: none;
    color: white;
}
.topo a{
    text-decoration: underline;
    color: white
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #111010;
    margin: 0 auto;
    width: 75%;
    padding: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 10px;
    color: antiquewhite;
}

.botao{
    display: flex;
    justify-content: flex-end;
}
.contratar{
    background-color: orange;
    padding: 5px 10px;
    color: whitesmoke;
    border: 1px solid orange;
}

footer{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: white;
justify-content: center;
}

@media screen and (max-width:500px) {

    footer{
        font-size: 0.6em;
    }
    
}