html{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
   align-items: center;
   padding: 10px;
}
body{
    background-color: #201F1F !important;
}
img{
    width: 130px;
}

.btn.btn-primary{
    background: orange;
    border: none;
}
button{
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: white;
    justify-content: center;
    background-color: black;
}
.btn{
margin: 5px;
}
.cardsArea{
    margin-top: 10px;
    padding: 10px;
}
.servicesArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;

}
#serviceAreaTitle{
    display: block;
    color: white;
    text-align: center;
}
.serviceCard{
    margin: 10px;
    width: 100%;
}
.card-text{
    color: rgb(253, 247, 247);
}
.teamArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#teamDesc{
    color: orange;

}
.btnArea{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (max-width:375px) {
    header{
        justify-content: center;
    }
}
@media screen and (min-width:414px ) and (max-width:640px) {
    .teamArea{
        flex-wrap: nowrap;
        }

}
@media  screen and (min-width: 1200px) {
   button{
       font-size: 1.5em!important;
       
   }
   .servicesArea{
    flex-wrap: nowrap;
}
.teamArea{
    justify-content: center;
}
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .servicesArea{
        flex-wrap: nowrap;
    }
    .teamArea{
        justify-content: center;
        flex-wrap: nowrap;
    }
    .teamArea img{

        width: 150px!important;
    }
}