html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: rgb(44, 44, 44)
}
img{
    width: 150px;
}
.areaImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: black;
}
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: orange
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.navbar-dark{
    background: orange;
}

nav{
    margin-bottom: 10px;
}

.navbar-toggler{
    color: black;
}

nav  .navbar-toggler{
    color: black;
}

.navbar-dark .navbar-toggler{
    color: black;
}

.nav-item{
    margin-right: 10px;
    width: max-content;

}
ul .nav-item a{
    text-decoration: none;
    color:  black;
}

.navbar-nav{
    gap: 60px;
}
svg{
    width: 50px;
    height: 50px;
}
