html, body {
	max-height: 100%;
}
body{
   background-image: url(/img/planodefundo.jpg);
}
section{
    font-size: 1.5em;
    color: black;
}
form{
    padding: 15px;
    background-color: rgba(187, 187, 187, 0.089);
    margin-bottom: 25px;
}
.titulologin{
font-size: 1.0em;
padding: 10px;
margin-bottom: 15px;
color: rgb(20, 20, 20) ;
}
.titulologin a{
    text-decoration: none;
    color: orange;
}
.areaLogo > img{
    max-width: 100px;
}
.areaLogo{
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.tudo{
    position: relative;
}
.rodape {
    width: 100%;
    height: max-content;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    font-size: small;
   text-align: center;
   position: absolute;
  }
.campoTermos{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btnSend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
@media screen and (max-height: 450px) and (max-width:813px) {
    .rodape{
        position: relative !important;
    }
}
@media screen and (min-height: 1366px) {

    .rodape {
        width: 100%;
        background-color: black;
        color: aliceblue;
        bottom: 0;
        position: absolute;
   
  }
  .btnSend{
      margin-top: 50px;
  }
  button{
    width: 60%;
  }
  .titulocadastro > h1{
      font-size: 4.0em;
  }
}
@media screen and (max-width:813px) {
    
    .rodape{
        font-size: 0.5em;
        position: absolute;
    }
    .titulocadastro > h1{
        font-size: 1.5em;
    }
    section{
        font-size: 1.0em;
        color: black;
    }
    .areaLogo > img{
        max-width: 100px;
    }
}
@media  screen and (min-width: 1200px) {
    .rodape{
        position: absolute;
    }
    .areaLogo > img{
        max-width: 150px;
    }
}